<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<footer id="footer" class="footer">
		<!-- Section title -->
		<h2 class="sr-only">Footer</h2>

		<div class="container">

			<div class="row">

				<div class="col-sm-6">
					<small class="copyright -yellow"> © <span id="year">2016</span> -  YellowMoon All Right Reserved- More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></small>
				</div>

				<div class="col-sm-6">
					<ul class="social-list">
						<li><a href="javascript:void(0)"><span class="icon icon-facebook" aria-hidden="true"></span></a></li>
						<li><a href="javascript:void(0)"><span class="icon icon-twitter" aria-hidden="true"></span></a></li>
						<li><a href="javascript:void(0)"><span class="icon icon-dribbble" aria-hidden="true"></span></a></li>
						<li><a href="javascript:void(0)"><span class="icon icon-google" aria-hidden="true"></span></a></li>
						<li><a href="javascript:void(0)"><span class="icon icon-youtube" aria-hidden="true"></span></a></li>
					</ul>
				</div>

			</div> <!-- /.row -->

		</div> <!-- /.container -->

	</footer>
</body>
</html>